body {
  margin: 0;
  padding: 0;
}

.p-dialog-header {
  padding: 10px;
}

.p-dialog-header .p-dialog-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #060606;
  font-size: 20px;
  text-decoration: underline;
}

.p-dialog-content {
  padding: 10px;
}
