@import "tailwindcss";

p {
  margin: 0;
}

.p-tabview.p-component {
  width: 100%;
}

.p-inputtext.p-chips-multiple-container {
  width: 100%;
}

.p-tabview .p-tabview-panels {
  padding: 10px 0px 0px 0px;
}

.p-toolbar.p-component {
  padding: 3px 10px;
}

.p-float-label label {
  color: #6f1f5f;
}

.p-float-label input:focus + label,
.p-float-label input.p-filled + label {
  color: #6f1f5f;
}

.p-float-label .p-dropdown.p-focus + label,
.p-float-label .p-dropdown.p-filled + label {
  color: #6f1f5f;
}

.p-float-label .p-multiselect.p-focus + label,
.p-float-label .p-multiselect.p-filled + label {
  color: #6f1f5f;
}

.p-float-label .p-autocomplete.p-focus + label,
.p-float-label .p-autocomplete.p-filled + label {
  color: #6f1f5f;
}

.p-float-label .p-calendar.p-focus + label,
.p-float-label .p-calendar.p-filled + label {
  color: #6f1f5f;
}

.p-float-label label {
  transition: all 0.2s ease;
}

.p-inputtext:enabled:focus {
  box-shadow: none;
}

.p-chips:not(.p-disabled).p-focus .p-chips-multiple-container {
  box-shadow: none;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  outline: none;
  outline-offset: none;
  box-shadow: none;
  border-color: #6f1f5f;
}

/* .p-float-label input:focus + label, .p-float-label input.p-filled + label
Specificity: (0,2,2)
 {
    color: #6f1f5f;
} */

.p-button {
  box-shadow: none;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #060606;
  border-color: #ffffff;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
