.loginComponent {
  display: flex;
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(-135deg, #6f1f5f, #6f1f5f); */
}

.loginLeft {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7c7c73f;
  color: #800080;
}

.loginLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #800080;
}

.loginImage {
  width: 60%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.loginLeftText {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #800080;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.loginRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 100%;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  padding: 40px 60px;
  border-radius: 15px;
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  color: #800080;
}

.passwordFeatures {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #666;
}

.forgot {
  cursor: pointer;
  color: #800080;
  font-weight: 500;
}

.loginButton span {
  text-align: center !important;
}

.forgotPasswordButton .p-button-label.p-c {
  text-align: center;
}

.p-password-input.p-inputtext.p-component {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.p-icon-field.p-icon-field-right {
  width: 100%;
}
